
<web-app>

  <servlet>
  
  <display-name>MVC_HelloWorld</display-name>
  <welcom-file-list>
  
  <welcome-file>index.jsp</welcome-file>
  </welcom-file-list>
             <!--  -->
    <servlet-name>helloworld</servlet-name>
    <servlet-class>org.springframework.web.servlet.dispatcherservlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>*.ds</url-pattern>
  </servlet-mapping>
</web-app>